.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* SignUp */

form.signup input {
  width: 100%;
  height: 42px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  background: antiquewhite;
  margin-top: 20px;
}

form.signup button{
  width: 100%;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px;
  height: 42px;
  margin-top: 20px;
  
}

/* profile */
div#posts li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
}
li.first {
  margin-left: -39px !important;
}
div#slider {
  margin-top: 30px;
  border-top: 1px solid gray;
}
div#slider button {
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
}